# Python
__pycache__/
*.pyc

# Build artifacts
/build
/.flatpak
/.flatpak-builder
*.flatpak

# AI (you can have your own files like CLAUDE.md or AGENTS.md. but we don't push it)
CLAUDE.md
AGENTS.md
.claude
.agents
